<div class="search-map-area">
  <img src="assets/japan_map.png" alt="日本地図", style="max-width:100%"> 
  <div class="inner">
    <ul class="hokkaidou-region">
      <li class="hokkaidou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hokkaidou">北海道</button></li>
    </ul>
    <ul class="touhoku-region">
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-aomori">青森県</button></li>
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-iwate">岩手県</button></li>
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-akita">秋田県</button></li>
    </ul>
    
    <ul class="touhoku-region1">
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-yamagata">山形県</button></li>
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-miyagi">宮城県</button></li>
      <li class="touhoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hukushima">福島県</button></li>       
    </ul>
    
    <ul class="kantou-region">
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-saitama">埼玉県</button></li>
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kanagawa">神奈川</button></li>
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-tiba">千葉県</button></li>
    </ul>
    <ul class="kantou-region1">
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-totigi">栃木県</button></li>
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-ibaragi">茨城県</button></li>
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-gunma">群馬県</button></li>
      <li class="kantou"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-tokyo">東京都</button></li>
    </ul>
    
    <ul class="tyubu-region">
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-nigata">新潟県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-nagano">長野県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-yamanashi">山梨県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-shizuoka">静岡県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-toyama">富山県</button></li>
    </ul>
    <ul class="tyubu-region1">
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-gihu">岐阜県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-aiti">愛知県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-ishikawa">石川県</button></li>
      <li class="tyubu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hukui">福井県</button></li>
    </ul>
    
    <ul class="kinki-region">
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-shiga">滋賀県</button></li>
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-mie">三重県</button></li>
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kyoto">京都府</button></li>
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-osaka">大阪府</button></li>
    </ul>
    <ul class="kinki-region1">
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-nara">奈良県</button></li>
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-wakayama">和歌山</button></li>
      <li class="kinki"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hyogo">兵庫県</button></li>
    </ul>
    
    <ul class="shikoku-region">
      <li class="shikoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kagawa">香川県</button></li>
      <li class="shikoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kouti">高知県</button></li>
    </ul>
    <ul class="shikoku-region1">
      <li class="shikoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-tokushima">徳島県</button></li>
      <li class="shikoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-ehime">愛媛県</button></li>
    </ul>
    
    <ul class="tyugoku-region">
      <li class="tyugoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-tottori">鳥取県</button></li>
      <li class="tyugoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-okayama">岡山県</button></li>
    </ul>
    <ul class="tyugoku-region1">
      <li class="tyugoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-shimane">島根県</button></li>
      <li class="tyugoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hiroshima">広島県</button></li>
      <li class="tyugoku"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-yamaguti">山口県</button></li>
    </ul>
    
    <ul class="kyusyu-region">
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-hukuoka">福岡県</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-oita">大分県</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-miyazaki">宮崎県</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kumamoto">熊本県</button></li>
    </ul>
    <ul class="kyusyu-region1">
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-saga">佐賀県</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-nagasaki">長崎県</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-kagoshima">鹿児島</button></li>
      <li class="kyusyu"><button type="button" class="js-modal-open btn btn--pill"  data-target="modal-okinawa">沖縄県</button></li>
    </ul>
  </div>
</div>