<% provide(:title, 'ユーザー登録') %>

  <div class="container" style="margin-top:100px;">
  <h1>ユーザー登録</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
    </div>
  </div>
</div>
