<% provide(:title, @user.name) %>

<div class="container" style="margin-top:100px;">
  <div class="row">
    <aside class="col-md-5">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
        <%=link_to "プロフィール設定", edit_user_path(current_user) %>
      </section>
    </aside>
  </div>
</div>