@charset "UTF-8";
@import "bootstrap-sprockets";
@import "bootstrap";



.navbar-brand{
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 991px){
.none {
  display:none
  }
}

.brand{
  max-width:100%;
  height:70px;
}

.alert{
  margin-top:90px;
}

.memory-share{
  color:black;
}

/* modal window */

*{
  margin: 0;
  padding: 0;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* モーダル背景 */
.modal-bg{
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll; 
  height: 60%;
  width: 60%;
  background: white;
  padding: 40px;
  padding: 40px;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* signup forms */

.signup > input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.signup-form{
  margin:auto;
  padding:auto;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

// search-map

.search-map-area {
  position: relative;
}

.search-map-area ul {
  padding: 1px;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.search-map-area ul li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 2px;
}

.search-map-area ul li button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .brand{
      max-width:100%;
      height:100%;
    }
  
    .inner {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    }
  
    .search-map-area ul {
      padding: 1px;
      border-radius: 5px;
      border: 3px solid lightgray;
    }
  
    // 北海道
    .hokkaidou-region {
      position: absolute;
      top: 23%;
      left: 68%;
      margin: 0;
      padding: 0;
      border: 1px solid white;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .search-map-area ul {
      padding: 1px;
      border-radius: 5px;
      border: 3px solid lightgray;
    }
    
    .search-map-area ul li .btn {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }
  
      .hokkaidou-region {
      position: absolute;
      top: 20%;
      left: 86%;
      margin: 0;
    }
    
    // 東北地方
    .touhoku-region {
      position: absolute;
      top: 30%;
      left: 86%;
      margin: 0;
    }
    
    .touhoku-region1 {
      position: absolute;
      top: 30%;
      left: 73%;
      margin: 0;
    }
    
    // 関東地方
    .kantou-region {
      position: absolute;
      top: 55%;
      left: 86%;
      margin: 0;
    }
    
    .kantou-region1 {
      position: absolute;
      top: 55%;
      left: 73%;
      margin: 0;
    }
    
    //中部地方 
    .tyubu-region {
      position: absolute;
      top: 6%;
      left: 45%;
      margin: 0;
    }
    
    .tyubu-region1 {
      position: absolute;
      top: 6%;
      left: 32%;
      margin: 0;
    }
    
    // 近畿地方
    .kinki-region {
      position: absolute;
      top: 6%;
      left: 16%;
      margin: 0;
    }
    
    .kinki-region1 {
      position: absolute;
      top: 6%;
      left: 3%;
      margin: 0;
    }
    
    //中国地方
    .tyugoku-region {
      position: absolute;
      top: 40%;
      left: 42%;
      margin: 0;
    }
    
    .tyugoku-region1 {
      position: absolute;
      top: 40%;
      left: 29%;
      margin: 0;
    }
    
    // 四国地方
    .shikoku-region {
      position: absolute;
      top: 84%;
      left: 25%;
      margin: 0;
    }
    
    .shikoku-region1 {
      position: absolute;
      top: 84%;
      left: 38%;
      margin: 0;
    }
    
    // 九州地方
    .kyusyu-region {
      position: absolute;
      top: 40%;
      left: 0%;
      margin: 0;
    }
    
    .kyusyu-region1 {
      position: absolute;
      top: 40%;
      left: 13%;
      margin: 0;
    }
}


@media screen and (min-width: 992px) and ( max-width: 1199px) {
    // 北海道
    .hokkaidou-region {
      position: absolute;
      top: 14%;
      left: 77%;
      margin: 0;
    }
    
    // 東北地方
    .touhoku-region {
      position: absolute;
      top: 27%;
      left: 77%;
      margin: 0;
    }
    
    .touhoku-region1 {
      position: absolute;
      top: 27%;
      left: 65%;
      margin: 0;
    }

    // 関東地方
    .kantou-region {
      position: absolute;
      top: 53%;
      left: 77%;
      margin: 0;
    }
    
    .kantou-region1 {
      position: absolute;
      top: 53%;
      left: 65%;
      margin: 0;
    }
    
    //中部地方 
    .tyubu-region {
      position: absolute;
      top: 8%;
      left: 43%;
      margin: 0;
    }
    
    .tyubu-region1 {
      position: absolute;
      top: 8%;
      left: 31%;
      margin: 0;
    }
    
    // 近畿地方
    .kinki-region {
      position: absolute;
      top: 8%;
      left: 16%;
      margin: 0;
    }
    
    .kinki-region1 {
      position: absolute;
      top: 8%;
      left: 4%;
      margin: 0;
    }
    
    //中国地方
    .tyugoku-region {
      position: absolute;
      top: 42%;
      left: 0%;
      margin: 0;
    }
    
    .tyugoku-region1 {
      position: absolute;
      top: 42%;
      left: 12%;
      margin: 0;
    }
    
    // 四国地方
    .shikoku-region {
      position: absolute;
      top: 83%;
      left: 28%;
      margin: 0;
    }
    
    .shikoku-region1 {
      position: absolute;
      top: 83%;
      left: 40%;
      margin: 0;
    }

    // 九州地方
    .kyusyu-region {
      position: absolute;
      top: 67%;
      left: 0%;
      margin: 0;
    }
    
    .kyusyu-region1 {
      position: absolute;
      top: 67%;
      left: 12%;
      margin: 0;
    }
}



@media screen and (min-width: 1200px) {

    // 北海道
    .hokkaidou-region {
      position: absolute;
      top: 12%;
      left: 75%;
      margin: 0;
    }
    
    // 東北地方
    .touhoku-region {
      position: absolute;
      top: 25%;
      left: 75%;
      margin: 0;
    }
    
    .touhoku-region1 {
      position: absolute;
      top: 25%;
      left: 65%;
      margin: 0;
    }
    
    // 関東地方
    .kantou-region {
      position: absolute;
      top: 53%;
      left: 75%;
      margin: 0;
    }
    
    .kantou-region1 {
      position: absolute;
      top: 53%;
      left: 65%;
      margin: 0;
    }
    
    //中部地方 
    .tyubu-region {
      position: absolute;
      top: 8%;
      left: 45%;
      margin: 0;
    }
    
    .tyubu-region1 {
      position: absolute;
      top: 8%;
      left: 35%;
      margin: 0;
    }
    
    // 近畿地方
    .kinki-region {
      position: absolute;
      top: 8%;
      left: 23%;
      margin: 0;
    }
    
    .kinki-region1 {
      position: absolute;
      top: 8%;
      left: 13%;
      margin: 0;
    }
    
    //中国地方
    .tyugoku-region {
      position: absolute;
      top: 39%;
      left: 0%;
      margin: 0;
    }
    
    .tyugoku-region1 {
      position: absolute;
      top: 39%;
      left: 10%;
      margin: 0;
    }
    
    // 四国地方
    .shikoku-region {
      position: absolute;
      top: 83%;
      left: 32%;
      margin: 0;
    }
    
    .shikoku-region1 {
      position: absolute;
      top: 83%;
      left: 42%;
      margin: 0;
    }
    
    // 九州地方
    .kyusyu-region {
      position: absolute;
      top: 65%;
      left: 0%;
      margin: 0;
    }
    
    .kyusyu-region1 {
      position: absolute;
      top: 65%;
      left: 10%;
      margin: 0;
    }
}

// prefecture btn-color 

    .hokkaidou button {
      margin: 0;
      background-color: #748ce4;
    }

    .touhoku button {
      margin: 0;
      background-color: #5da2e5;
    }
    
    .touhoku1 button {
      margin: 0;
      background-color: #5da2e5;
    }
    
    .kantou button {
      margin: 0;
      background-color: #64ccdc;
    }
    
    .kantou1 button {
      margin: 0;
      background-color: #64ccdc;
    }
    
    .tyubu button {
      margin: 0;
      background-color: #66ca85;
    }
    
    .tyubu1 button {
      margin: 0;
      background-color: #66ca85;
    }
    
    .kinki button {
      margin: 0;
      background-color: #b6d255	;
    }
    
    .kinki1 button {
      margin: 0;
      background-color: #b6d255	;
    }
    
    .tyugoku button {
      margin: 0;
      background-color: #fbb150;
    }
    
    .tyugoku1 button {
      margin: 0;
      background-color: #fbb150;
    }
    
    .shikoku button {
      margin: 0;
      background-color: #eca296;
    }
    
    .shikoku button1 {
      margin: 0;
      background-color: #eca296;
    }
    
    .kyusyu button {
      margin: 0;
      background-color: #fc7474;
    }
    
    .kyusyu button1 {
      margin: 0;
      background-color: #fc7474;
    }  
    
    // local-media-table

table {
    border-collapse:  collapse; 
    width:  100%;
    height: 100%;
}
 
th,td {
    padding: 5px 10px;
    text-align:  left;
    border: 1px solid lightgray;
}

td a{
  color:black;
}

th{
  color:white;
}

.close-btn{
  color:black;
  text-align:center;
  font-size:20px;
}

tr:nth-child(odd) th{
    color:white;
}

#modal-hokkaidou tr:nth-child(odd) {
    background-color: #748ce4;
}

#modal-aomori tr:nth-child(odd) {
    background-color: #5da2e5;
}
#modal-akita tr:nth-child(odd) {
    background-color: #5da2e5;
}
#modal-iwate tr:nth-child(odd) {
    background-color: #5da2e5;
}
#modal-miyagi tr:nth-child(odd) {
    background-color: #5da2e5;
}
#modal-hukushima tr:nth-child(odd) {
    background-color: #5da2e5;
}
#modal-yamagata tr:nth-child(odd) {
    background-color: #5da2e5;
}

#modal-totigi tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-gunma tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-ibaragi tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-tiba tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-tokyo tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-kanagawa tr:nth-child(odd) {
    background-color: #64ccdc;
}
#modal-saitama tr:nth-child(odd) {
    background-color: #64ccdc;
}

#modal-nigata tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-nagano tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-yamanashi tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-shizuoka tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-toyama tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-gihu tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-aiti tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-ishikawa tr:nth-child(odd) {
  background-color: #66ca85;
}
#modal-hukui tr:nth-child(odd) {
  background-color: #66ca85;
}

#modal-shiga tr:nth-child(odd) {
  background-color: #b6d255	;
}
#modal-mie tr:nth-child(odd) {
  background-color: #b6d255	;
}
#modal-kyoto tr:nth-child(odd) {
  background-color: #b6d255	;
}
#modal-osaka tr:nth-child(odd) {
  background-color: #b6d255	;
}#modal-nara tr:nth-child(odd) {
  background-color: #b6d255	;
}
#modal-wakayama tr:nth-child(odd) {
  background-color: #b6d255	;
}
#modal-hyogo tr:nth-child(odd) {
  background-color: #b6d255	;
}

#modal-shimane tr:nth-child(odd) {
  background-color: #fbb150;
}
#modal-hiroshima tr:nth-child(odd) {
  background-color: #fbb150;
}
#modal-yamaguti tr:nth-child(odd) {
  background-color: #fbb150;
}
#modal-tottori tr:nth-child(odd) {
  background-color: #fbb150;
}
#modal-okayama tr:nth-child(odd) {
  background-color: #fbb150;
}

#modal-ehime tr:nth-child(odd) {
  background-color: #eca296;
}
#modal-tokushima tr:nth-child(odd) {
  background-color: #eca296;
}
#modal-kagawa tr:nth-child(odd) {
  background-color: #eca296;
}
#modal-kouti tr:nth-child(odd) {
  background-color: #eca296;
}

#modal-saga tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-nagasaki tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-kagoshima tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-okinawa tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-hukuoka tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-oita tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-miyazaki tr:nth-child(odd) {
  background-color: #fc7474;
}
#modal-kumamoto tr:nth-child(odd) {
  background-color: #fc7474;
}

// today's faborite


// about
.split{
  display:flex;
}

.pic{
  width:100%;
}

@media screen and (max-width: 1000px){
  .none {display:none}
}