 <header>
      <!-- Navbar -->
      <nav class="js-navbar-scroll navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
                <%= link_to "地元あい", root_path, id: "logo" %>
          </a>

          <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo"

            aria-controls="navbarTogglerDemo"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <p class="nav-link">
                <%= link_to 'ホーム', root_path %>
                </p>  
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link active" href="#">コメント一覧</a>
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link active" href="about_path">作者紹介</a>
              </li>
              <li class="nav-item mr-4 mb-2 mb-lg-0">
                <a class="nav-link" href="contact_path">お問合せ</a>
              </li>
              <div>
                <a class="btn btn-primary" href="#!">
                  ログイン
                </a>
              </div>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->